*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}
body{
    background-image: url(/img/quino-al-mBQIfKlvowM-unsplash.jpg);
    height: 100vh;
    background-size:100% 100%;
    background-repeat: no-repeat;
    /* box-sizing: border-box; */
    font-family: sans-serif;
    
}
.menu-bar{
    background:black;
    text-align: center;
}
.menu-bar ul{
    display:inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li{
    width: 120px;
    margin: 5px;
    padding: 10px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}
.menu-bar ul li:hover{
    background:red;
    border-radius:5px;
}
.menu-bar .fa{
    margin: 5px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background:black;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
/* .menu-bar ul li:hover*/ .sub-menu-1 ul li a:hover{
    color: #b2ff00;
}
.fa-angle-right{
    float:right;
}
.sub-menu-2{
    display:none;
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(0, 100,0);
}



